body{
  padding-left: 20px;
  background-color: lightskyblue;
}

h1{
  color: black;
  font-size: 2em;
  font-style: italic;
  text-align: center;
}

p{
  font-size: 1em;
  text-align: center;
  word-spacing: 0em;
  padding-top: 20px;
}

