body{
  padding-left: 20px;
  background-color: rgb(148, 148, 148);
}

h1{
  color: black;
  font-size: 2em;
  font-style: italic;
  font-family: georgia;
  text-align: center;
  padding-bottom: 1em;
}

h2{
  color: rgb(216, 63, 28);
  font-size: 2pc;
  font-style: bold;
  font-weight: georgia;
  text-align: left;
  padding-top: 1em;
  padding-bottom: 1em;   
}

a{
  font-family: georgia;
  font-size: 1em;
  padding-left: 2pc;
  padding-top: 1em;  
}

p{
  font-size: 19px;
  text-align: left;
  font-family: georgia;
  word-spacing: 0em;
  padding-top: 0em;
  padding-bottom: 20px;
  padding-right: 5;
  padding-left: 1em;
}

p2{
  font-size: 19px;
  font-family: georgia;
  text-align: left;
  word-spacing: 0em;
  padding-bottom: 20px;
  padding-right: 5cm;
  padding-left: 1em;
}

p3{
  font-size: 1em;
  font-style: italic;
  text-align: center;
  padding-bottom: 20px;
  padding-left: 1px;
}

/* body{
  font-size: 20px;
  text-align: left;
  word-spacing: 0em;
  padding-top: 0em;
  padding-left: 1em;
} */

img{
  padding-top: 3em;
  padding-bottom: 1em ;
  padding-left: 0cm;
  padding-right: 1cm;
  border-color:black;
  float: right;
}

footer{
  color: rgb(216, 63, 28);
  font-size: 2pc;
  font-family: georgia;
  text-align: center;
  font-size: 5mm;
  padding-top: 30px;
  padding-bottom: 10px;
}

